<div style="margin-top:-125px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 3px 3px 0 gray">
            <i style="color:mediumpurple; font-size:50px" class="bi bi-braces"></i>
            <h3>Back-end</h3>
            <p>
                I work from development, testing and deployment
            </p>
            <p>
                ASP.NET Core, MySQL
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>ASP.NET Core MVC</li>
                <li>c#</li>
            </ul>

        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 3px 3px 0 gray">
            <i style="color:mediumpurple; font-size:50px" class="bi bi-code-slash"></i>
            <h3>Front-End</h3>
            <p>
                I can to code things from scratch and bringing ideas to life in the browser.
            </p>


            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
        </div>
    </div>
</div>
