
<div class="text-center">
    <h1 class="display-4">Student of Software Development</h1>
    <h2>Learning ASP.NET</h2>

    <img id="foto"
         src="~/img/principal.jpg" alt="Foto de Liliana" />
</div>

<div class="text-center">
    <img id="ilustrativa" src="~/img/foto2.png" alt="Imagen ilustrativa" />
</div>

<div class="row justify-content-center text-center seccion-bienvenida">
    <div class="col col-md-7 seccion-descripcion">
        <h1>Welcome!</h1>
        <h2>I´m Liliana Aguilar</h2>
        <p>
            My firts approach to software development was when I started university. There, I made web
            projects with CSS, HTML and JavaScript. I also did practices with C#/.NET and MySQL.
            <br />I’m currently learning ASP.NET.
        </p>
    </div>
</div>
